@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";


@layer base{
    html{
          font-family: "Roboto Condensed", sans-serif;
          }
          body{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: rgb(96, 106, 106);
          }

 

}


